{% extends 'header.html'%}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      </head>
  <body>
    <section class="site-banner jarallax padding-large" style="background: url({% static 'images/hero-image.jpg' %}) no-repeat; background-position: top;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="page-title">Change Password</h1>
            <div class="breadcrumbs">
              <span class="item">
                <a href="/">Home /</a>
              </span>
              <span class="item">Change Password</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="contact-information padding-large">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="contact-information">
              <div class="section-header">
                <h2 class="section-title">Change Password</h2>
              </div>
               {% if msg %}
              <b style="color: blue;">{{msg}}</b>
              {% endif %}
              <form name="contactform" action="{% url 'change-password' %}" method="post" class="contact-form">
                {% csrf_token %}
                <div class="form-item">
                  <input type="password" name="old_password" placeholder="old password" class="u-full-width bg-light" required>
                  <input type="password" name="new_password" placeholder="new password" class="u-full-width bg-light" required>
                  <input type="password" name="cnew_password" placeholder="confirm password" class="u-full-width bg-light" required>
                </div>
                <button type="submit" name="submit" class="btn btn-dark btn-full btn-medium">Change Password</button>
              </form>
              <a href="{% url 'forgot-password' %}">Forgot Password ? </a>
             </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
{% endblock %}